*.log
*.sql
*.sqlite
*.zip
*.tar
*.gz
*.bak
*-bak
*.bk
*-bk
*.old
*.DS_Store
*.swp
*.swo
*.swn
wp-config.php
bss
.idea
.vcode
.github
.github/*
wp-config*
wp-content/uploads*
wp-content/upgrade
wp-content/backup-db
wp-content/backupbuddy_backups
wp-content/cache
wp-content/et-cache
wp-content/w3tc
wp-content/wflogs
wp-content/wordfence
wp-content/aiowps_backups
wp-content/aiowps_permanent
wp-content/aiowps_login_security
wp-content/aiowps_failed_logins
wp-content/aiowps_global_meta
wp-content/aiowps_ip_block
wp-content/aiowps_login_activity
wp-content/aiowps_login_lockdown
wp-content/aiowps_login_lockout
wp-content/aiowps_login_lockout_log
wp-content/aiowps_login_lockout_reason
wp-content/aiowps_login_lockout_user
wp-content/aiowps_login_lockout_user_meta
wp-content/aiowps_login_lockout_user_reason
wp-content/aiowps_login_lockout_user_reason_meta
wp-content/aiowps_login_lockout_user_reason_user
.git
